.container {
    background-color: #e9e7d8;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
}

.dialog {
    margin-bottom: 30px;
}

.title {
    color: #746452;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 10px;
}

.subtitle {
    color: #746452;
    font-weight: 300;
}

.button {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
