.board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 15px;
    margin: auto;
    justify-content: center;
    align-content: center;
    border: 10px solid #bbada0;
    border-radius: 10px;
    padding: 10px;
    background-color: #bbada0;
}
