.container {
    color: #978876;
    padding: 10px 20px;
    background-color: #e9e7d8;
    border-radius: 5px;
    text-align: center;
}

.title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

.subtitle {
    font-size: 18px;
    font-weight: 800;
}
